:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import './font-face.css';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'FiraCode';
}

.ripple-button {
  border-radius: 70px;
  border: none;
  margin: 8px;
  padding: 6px;
  background: transparent;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.bt {
  font-weight: 600;
  border: 1px solid #ABB2BF;
  color: var(--third-color);
  background-color: var(--main-color);
  border-color: var(--second-color);
  border-radius: 0;
  padding: 10px 13px 10px 13px;
  font-family: 'FiraCode';
  border-radius: 4px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.bt>.btripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #C778DD;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  box-shadow: #C778DD;
  animation: 1.2s ease 1 forwards ripple-effect;
}

.ripple-button>.ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #004c77;
  display: block;
  content: "";
  border-radius: 10009px;
  opacity: 0.5;
  box-shadow: #004c77;
  animation: 3.2s ease 1 forwards ripple-effect;
}



@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(10);
    opacity: 0.275;
  }

  100% {
    transform: scale(35);
    opacity: 0;
  }
}



.ripple-button>.content {
  position: relative;
  z-index: 2;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'FiraCode';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 992px) {
  .sidenav {
    background-color: var(--main-color) !important;
  }
}

@media(max-width: 992px) {
  .side {
    position: absolute;

  }
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}


::-webkit-scrollbar {
  width: 8px;
  background-color: #282C33;
}

::-webkit-scrollbar-thumb {
  background-color: #C778DD;
  border-radius: 10px;
}

.hoverSpan:hover {
  color: #fff;
}

.sidebar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}